.btncustom {
    justify-content: center;
    margin-top: 20%;
    padding: 50px 150px;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    background-color: #d9544f23;
    border: 2px solid #b1535044; 
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.3s;
}

.btncustom:hover {
    background-color: #c9312c94; 
    border-color: #c9312cbd; 
}