<div
  class="container"
  style="
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
  "
>
  <div class="row text-center mt-2">
    <h1>SnipeDefender</h1>
  </div>
  <div class="row text-center mt-3">
    <h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sagittis,
      nibh vitae bibendum semper, libero mi fringilla urna, sed scelerisque
      metus ligula sit amet nisi. Nullam ut varius eros, id porta dui.
    </h4>
  </div>
  <div class="row text-center mt-1">
    <h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id
      feugiat diam. Donec leo nisl, rutrum.
    </h6>
  </div>
  <div class="row mt-4" *ngFor="let user of users.slice(0,15)">
    <div class="col">
      {{ user.userName }}
      <!-- <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users.slice(0, 15)">
          {{ user.userName }} {{ user.steamID }} {{ user.twitch }}
          {{ user.discord }} {{ user.reputation }}
        </li>
      </ul> -->
    </div>
    <div class="col">
      {{ user.steamID }}
    </div>
    <div class="col">
      {{ user.twitch }}
    </div>
    <div class="col">
      {{ user.discord }}
    </div>
    <div class="col">
      {{ user.reputation }}
    </div>
  </div>
</div>
