<app-search-bar></app-search-bar>
<div
  class="container"
  style="
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
  "
>
  <div class="row text-center mt-2">
    <h1>SnipeDefender</h1>
  </div>
  <div class="row text-center mt-3">
    <h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sagittis,
      nibh vitae bibendum semper, libero mi fringilla urna, sed scelerisque
      metus ligula sit amet nisi. Nullam ut varius eros, id porta dui.
    </h4>
  </div>
  <div class="row text-center mt-1">
    <h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id
      feugiat diam. Donec leo nisl, rutrum.
    </h6>
  </div>
  <div class="row mt-4" *ngFor="let player of players.slice(0, 15)" style="color: white; border: 3px solid #000000; background-color: rgba(128, 128, 128, 0.116);
  border-radius: 50px; padding: 2.5px;">
    <div class="col-2" style="text-align: center; margin-top: 15px;">
      <img
        class="rounded-circle"
        src="{{ player.steamPicture }}"
        style="width: 50px; height: 50px; border: 2px solid black;"
      />
      <br>
      {{player.reputation}}
    </div>
    <div class="col-8 mt-3" >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus
      metus interdum, efficitur nisi vel, tristique dolor. Nunc ut mi bibendum,
      laoreet dui ac, dignissim tortor. Ut non mauris sit amet risus.
    </div>
    <div class="col-2 hoverbutton center-content" style="color: gold; font-weight: bolder;">Go to Profile</div>
  </div>
</div>
