<div class="container">
  <div class="row text-center mt-5">
    <h1>SnipeDefender</h1>
  </div>
  <div class="row text-center mt-3">
    <h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sagittis,
      nibh vitae bibendum semper, libero mi fringilla urna, sed scelerisque
      metus ligula sit amet nisi. Nullam ut varius eros, id porta dui.
    </h4>
  </div>
  <div class="row text-center mt-1">
    <h6>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id
      feugiat diam. Donec leo nisl, rutrum.
    </h6>
  </div>
  <div class="row mt-5">
    <ul class="list-group">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
  </div>
</div>
