<app-search-bar></app-search-bar>

<div class="container mt-5">
  <div class="row">
    <div class="col-2">
      <img
        class="border border-secondary border-2"
        src="{{ playerData?.steamPicture }}"
        alt=""
      />
      <div class="row mt-3">
        <div class="col">
          <div class="card mb-2" style="background-color: #460115c9">
            <div class="card-body">
              <p
                class="card-text text-center text-white"
                style="font-weight: bold; font-size: 18px"
              >
                {{ playerData?.userName }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card bg-danger">
            <div class="btn">
              <p
                class="card-text text-center"
                style="
                  font-weight: bold;
                  width: 15px;
                  height: 15px;
                  font-size: 14px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-left: 22px;
                "
                (click)="toggleReportComponent()"
              >
                Report
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-success">
            <div class="btn">
              <p
                class="card-text text-center"
                style="
                  font-weight: bold;
                  width: 15px;
                  height: 15px;
                  font-size: 14px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-left: 22px;
                "
                (click)="toggleCommentComponent()"
              >
                Comment
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="max-height: 95px" class="col-2">
      <div class="card" style="background-color: #22092c">
        <div>
          <div
            class="card-header text-center text-white"
            style="font-weight: bold; font-size: 18px"
          >
            SteamId
          </div>
        </div>
        <div style="background-color: #872341">
          <div
            class="card-body d-flex justify-content-center align-items-center"
            style="max-height: 100px; overflow: hidden"
          >
            <blockquote
              class="text-white blockquote mb-0"
              style="font-size: smaller"
            >
              <p style="font-size: 14px">{{ playerData?.steamID }}</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div style="max-height: 95px" class="col-2">
      <div class="card" style="background-color: #22092c">
        <div
          class="card-header text-center text-white"
          style="font-weight: bold; font-size: 18px"
        >
          Twitch
        </div>
        <div
          class="card-body d-flex justify-content-center align-items-center"
          style="max-height: 100px; overflow: hidden; background-color: #872341"
        >
          <blockquote
            class="text-white blockquote mb-0"
            style="font-size: smaller"
          >
            <p style="font-size: 14px">{{ playerData?.twitch }}</p>
          </blockquote>
        </div>
      </div>
    </div>
    <div style="max-height: 95px" class="col-2">
      <div class="card" style="background-color: #22092c">
        <div
          class="card-header text-center text-white"
          style="font-weight: bold; font-size: 18px"
        >
          Hours
        </div>
        <div
          class="card-body d-flex justify-content-center align-items-center"
          style="max-height: 100px; overflow: hidden; background-color: #872341"
        >
          <blockquote
            class="text-white blockquote mb-0"
            style="font-size: smaller"
          >
            <p style="font-size: 14px">{{ playerData?.hours }}</p>
          </blockquote>
        </div>
      </div>
    </div>
    <div style="max-height: 95px" class="col-2">
      <div class="card" style="background-color: #22092c">
        <div
          class="card-header text-center text-white"
          style="font-weight: bold; font-size: 18px"
        >
          Discord
        </div>
        <div
          class="card-body d-flex justify-content-center align-items-center"
          style="max-height: 100px; overflow: hidden; background-color: #872341"
        >
          <blockquote
            class="text-white blockquote mb-0"
            style="font-size: smaller"
          >
            <p style="font-size: 14px">{{ playerData?.discord }}</p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card" style="background-color: #22092c">
        <div
          class="card-header text-center text-white"
          style="font-weight: bold; font-size: 18px"
        >
          Reputation
        </div>
        <div
          class="card-body d-flex justify-content-center align-items-center"
          style="max-height: 100px; overflow: hidden; background-color: #872341"
        >
          <blockquote
            class="text-white blockquote mb-0"
            style="font-size: smaller"
          >
            <p style="font-size: 14px">{{ totalReputation }}</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-10">
      <app-comment *ngIf="showCommentComponent"></app-comment>
    </div>
  </div>
  <div *ngFor="let comment of comments" class="row mt-5">
    <div
      class="col-10 border border-dark rounded border-2"
      [ngStyle]="{
        'background-color': comment.reputation < 0 ? '#ff00002f' : '#0c660070'
      }"
    >
      <div
        style="max-height: 150px; min-height: 100px"
        class="mx-3 my-3 rounded-3"
      >
        <p
          id="comment-toggle"
          class="text-white"
          style="font-size: 14px; margin: 0;"
        >
          {{ comment.text }}
        </p>
        <div style="height: 65px"></div>
        <div style="display: flex; justify-content: flex-end">
          <span style="font-size: 12px; color: #ffe500; font-weight: bold">{{
            comment.createdAt | date : "dd/MM/yyyy HH:mm"
          }}</span>
        </div>
      </div>
    </div>

    <div class="col-2 d-flex align-items-center">
      <div style="text-align: center">
        <img
          style="max-width: 100px; border: 2px solid black"
          class="rounded-circle"
          src="{{ comment.userSteamPicture }}"
          alt=""
        />
        <div
          style="
            font-size: 20px;
            font-weight: bold;
            color: #ffe500;
            text-shadow: 2px 2px 2px #000000;
            margin-top: 5px;
          "
        >
          {{ comment.userName }}
        </div>
      </div>
    </div>
  </div>
</div>
