.card {
    width: 18rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
}

.card-img-top {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd; /* Resim ile çerçeve arasına ince bir çizgi ekleme */
}
