.custom-row {
    color: #ffe500; /* Pembe renk */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Gölge efekti */
    background-image: linear-gradient(to right, #000000, #474747); /* Arka plan gradyan */
    padding: 10px;
    border-radius: 10px; /* Kenar yuvarlaklığı */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Kutu gölge efekti */
    transition: transform 0.3s ease-in-out; /* Hareket geçiş efekti */
  }
  
  .custom-row:hover {
    transform: scale(1.1); /* Fare üzerine gelindiğinde büyütme efekti */
  }
  